<h1>Cadastro/Manutenção de Jogos</h1>
<div><button type="button" class="btn btn-primary" (click)="inserirJogo()">Novo Jogo</button></div>

<table *ngIf="jogos && jogos.length > 0" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Nome do Jogo</th>
      <th>Data do Empréstimo</th>
      <th>Emprestado Para</th>
      <th></th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jogo of jogos">
      <td>{{ jogo.nome }}</td>
      <td>{{ jogo.dataEmprestimo | date: 'dd/MM/yyyy' }}</td>
      <td>{{ jogo.amigo?.nome }}</td>
      <td>
        <button type="button" class="btn btn-warning" *ngIf="!jogo.amigo && !jogo.dataEmprestimo" (click)="emprestarJogo(jogo.id)">Emprestar</button>
        <button type="button" class="btn btn-success" *ngIf="jogo.amigo || jogo.dataEmprestimo" (click)="devolverJogo(jogo.id, jogo.amigoId)">Devolver</button>
      </td>
      <td><button type="button" class="btn btn-info" (click)="editarJogo(jogo.id)">Editar</button></td>
      <td><button type="button" class="btn btn-danger" (click)="excluirJogo(jogo.id)">Excluir</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="carregado == false">Carregando jogos...</div>
