<h1>Bem-vindo ao teste de Renato Lombardo para a Multicom!</h1>

<div>
  Requisitos técnicos:
  <ol>
    <li> .Net core</li>
    <li> Controle de segurança/acesso (cookies, jwt, oauth, identity, ou qualquer outro mecanismo que garanta a segurança do acesso à aplicação e roles).</li>
    <li> WebApi + framework web (preferencialmente angular)</li>
    <li> Mecanismo de banco de dados SQL Server</li>
    <li> Docker files dos projetos + Docker compose para subir toda a aplicação local (opcional)</li>
    <li> camada de testes (desejável)</li>
    <li> Design DDD </li>
  </ol>
</div>

<div>
  Comece fazendo a manutenção de <a [routerLink]="'/jogo'">jogos</a> ou de <a [routerLink]="'/amigo'">amigos</a>.
</div>


